html, body, .fluidContainer{
	height: 100%;
}

.mainCol {
	height: 100%
}

.content {
	padding: 5px;
}

.h-30 {
	height: 30%;
}

.h-50 {
	height: 50%;
}

.h-70 {
	height: 70%;
}

.inner {
	border: 1px solid #000;
	height: 100%;
}

#smallMap {
	border: 1px solid #FFF;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 120px;
	height: 72px;
}
